body { font-family: "Ubuntu"!important;}
body .preloaderClass {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body.faq {
    display: inline;
}
.header{
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.current-user{
  cursor: pointer;
  float: right;
  margin: 4px;
  line-height: 30px;
  padding: 0px 5px 0 5px;
}
/*@media (min-width: 768px)
.navbar-nav > li > a {
     padding-top: 0;
     padding-bottom: 0;
}*/
.nav-pills > li > a {
  padding-top: 7px!important;
  padding-bottom: 12px!important;
  line-height: 0px!important;
}
.nav-tabs .dropdown-menu {
     margin-top: 2px!important;
     border-top-left-radius: 4px!important;
     border-top-right-radius: 4px!important;
}
/*.current-user:hover, .current-user:focus, .current-user:active{
  border-radius: 4px!important;
  box-shadow: 0 0px 7px rgb(119, 111, 111);
}*/
.current-user { font-family: "Ubuntu" }
.table { margin-bottom: 0!important }
table { min-width: 100% }
table tr { cursor: pointer }
table thead tr{ cursor: inherit }
table td.tdDescription{ width: 24% }
#th-Comments{ word-wrap: break-word; }
.busy-tr{ background-color: #d9534f }
.free-tr{ background-color: #5cb85c }
.modal-dialog{ width: 506px!important }
.modal-dialog.history{ width: 1200px!important }
form#form div.input-group{ margin: 10px }
form#form button{ margin-right: 5px }
.modal-content .input-group{ border-color: red!important }
.checkDeleteSource{ width:162px!important }
.checkContent{ padding: 10px }
.myactive {
    z-index: 1;
    background-color: #f0ad4e!important;
}
.btn-elvees{
    float: right;
    position: relative;;
    margin: 3px 5px 0 5px;
}

.parentForm {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.blockForm {
    background-color: #27aae1;
    padding:20px;
    width: 350px;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
#historyError{
    text-align: center;
    color: red;
    font-weight: bold;
}
#errorCheckUser{
    margin-top:4px;
    margin-right: 25px;
    float:right;
    color: #d9534f;
    font-weight: bold;
}
#addSourceError{
  color: #d9534f;
  margin-left: 10px;
  font-weight: bold;
}
/*
Tab - Computers
*/
.tab-computers-td-ip{
  width: 110px;
}
.tab-computers-td-name{
  word-break: break-all;
  width: 400px;
}
.tab-computers-input{
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.min-padding{ padding:1px!important }
.max-padding{ padding:8px }
.btn-add-computers-node{
  float: left;
  position: relative;
  margin: 5px;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.form-control-override{
    display: inline-block!important;
    width: 200px !important;
}
.bs-docs-footer{
    color: #272629;
    display: inline-block;
    background-color: #eae7ee;
}
.bs-docs-footer-links {
    padding-right: 0;
    float: right;
    margin-bottom: 20px;
}
.bs-docs-footer-links-left {
    padding-left: 0;
    margin-bottom: 20px;
}
.bs-docs-footer-links li {
    display: inline-block;
}
.bs-docs-footer-p{
    float: left;
    padding-left: 0;
    padding-top: 25px;
}
.faq-container{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.btn-faq-previous{
    margin: 5px;
    position: fixed;
}
.faq-reservation-ul{}
.faq-reservation-ul  img {
    margin-left:auto;
    margin-right:auto;
    display: block;
}
.faq-reservation-ul  p{
    text-align: center;
}
